img {
    width: 300px;
}

h1 {
    text-align: center;
}

.main {
    text-align: center;

}

.button {
    padding: 25px;
    border-radius: 10px;
}

button {
    margin: 5px;
}

.hideButton {
    background-color: #fee975;
}

.showButton {
    background-color: #ffaa7b;
}

.msgButton {
    background-color: #00ffcc;
}

.updateButton {
    background-color: #e4afee;
}

.nameButton {
    background-color: #17d3ff;
}
